/* body{
    background: #485563; 
background: -webkit-linear-gradient(to right, #29323c, #485563);  
background: linear-gradient(to right, #29323c, #485563); 

} */
#background-video{

    z-index: -1;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    right: 0;
    position: absolute; /* optional depending on what you want to do in your app */
    
    
	}
	.botonTour{
		background: #ff0000 !important
	}

   .logoPrincipal{
       width: 100px !important;
       position: absolute;
       top: 0;
   }
   .swiper-container{
        top: 1.5rem
   }
   
   
  .colornav{
      background-color: rgba(17, 16, 16, 0.589)
  }

  .titulos_destinos{
      
      width: 100%;
      margin-top: -3.9rem;
      font-size: 3em;
      
      
  }

.icono1{
	color: red;
	transition: ease-out
}
.icono2{
	color: red;
	transition: ease-out
}
b{
	color: red;
}

.menuhover:hover{
	color: #ff0000 !important;
}
.menuhover:active {
	color: #ff0000;
  }

.iconos:hover{
	color:#ff0000;
	transition: all ease-in .1s
}
.imagenCard{
	
	box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75) 
}

  .home_search
{
	width: 100%;
	height: 0;
	margin-top: 10rem;
	z-index: 1;
}
.home_search_container
{
	position: absolute;
	
	width: calc(100% + 122px);
	left: -61px;
	padding-top: 47px;
	padding-left: 61px;
	padding-right: 61px;
	padding-bottom: 59px;
	background: rgba(255,255,255,0.26);
	border-radius: 1px;
}
.home_search_title
{
	width: 247px;
	height: 55px;
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 55px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #2e2e2e;
	font-weight: 400;
	text-align: center;
}
.home_search_content
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 67px;
	padding-right: 83px;
}
.search_input
{
	height: 50px;
	background: #f2f5f6;
	border: none;
	outline: none;
	padding-left: 17px;
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #72728c !important;
}
.search_input_1
{
	width: 25%;
}
.search_input_2
{
	width: 15%;
}
.search_input_3
{
	width: 15%;
}
.search_input_4
{
	width: 20%;
}
.search_input::-webkit-input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input:-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input::-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input::input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.home_search_button
{
	width: 161px;
	height: 52px;
	background: #181818;
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 0;
	border: none;
	outline: none;
	cursor: pointer;
}


.find
{
	width: 100%;
	position: absolute;
	left: 0;
	padding-top: 63px;
	padding-bottom: 90px;
	z-index: 0;
	background: rgba(17, 15, 15, 0.918);
	margin-top: 30rem;
}
/* .find_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */
.find_form_container
{
	width: 100%;
	
	margin-top: 28px;
	
}
.find_title
{
	width: 100%;
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
}
.find_form
{
	width: 100%;
	height: 100%;
	
}
.find_input
{
	width: 100%;
	height: 56px;
	border: none;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	font-weight: 400;
	line-height: 52px;
	color: #FFFFFF;
	border: solid 1px rgba(255,255,255,0.5);
	background: rgb(20, 20, 20);
}
.find_item:first-child
{
	width: 31.413%;
}
.find_item:nth-child(2)
{
	width: 31.413%;
}
.find_item:nth-child(3)
{
	width: 10.122%;
}
.find_item:nth-child(4)
{
	width: 10.122%;
}
.find_item div
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	margin-bottom: 7px;
	
}
.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	/* background-image: url(../images/down.png); */
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #fffffff5 !important;
	
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.find_input:hover
{
	border: solid 2px rgba(254, 67, 91, 0.5);
}
.find_input:focus
{
	outline-color: rgba(254, 67, 91, 0.5);
	border: solid 2px rgba(254, 67, 91, 0.5);
}
.find_button
{
	width: 14.048%;
	height: 56px;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 52px;
	padding-left: 46px;
	padding-right: 46px;
	background: #ff0022 !important;
	-webkit-transform: translateY(14px);
	-moz-transform: translateY(14px);
	-ms-transform: translateY(14px);
	-o-transform: translateY(14px);
	transform: translateY(14px);
	border: none;
	outline: none;
	cursor: pointer;
}
.find_button:hover
{
	opacity: 0.8;
}
.find_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}
.find_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}
.find_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
} 
.find_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}
.find_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}

.swiper-container {
	width: 100%;
	border: none;
	text-align: center;
	
  }
  .botones{
		background-color:transparent;
		border:none;
       
		outline:none;
  }
  .botones:focus {outline:0;}

.iconos{

	font-size:1.5rem !important
}




.home_search_container{
	background: transparent;
	width:100%
}